.faderpadlabel{
    position: absolute; 
    color:rgb(133, 133, 133);
     margin-top: -20px;
     width: 72px; 
     text-align: center;
     font-size: 11px;
}

.faderbg {
    //background: #eee;
    height: 300px;
    width: 69px;
    display: block;
    float: left;
    //border: 1px solid #000;
    background: url('../images/Slider_BG.fw.png'); 
	background-repeat: no-repeat;
 
  

}

.fader {
    -webkit-appearance: none;
    background: #000;
    height:2px;
    -webkit-transform: rotate(-90deg);
    margin: 60px -30px;
    outline: none;
    background: #000;
}
.fader::-webkit-slider-thumb {
    -webkit-appearance: none;
    height:25px;
    width:40px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
    background: rgb(149,149,149);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
    background:url('../images/fader.png') 0 0 repeat;
	background-size:cover;
    transform: rotate(90deg);
}

.mixer {
    position: relative;
    height: 360px;
    width: 568px;    
}

.master-controls {
    background: #999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 22px);
    padding: 5px 10px;
    border: 1px solid #000;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(17,17,17,1) 77%, rgba(43,43,43,1) 85%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(77%,rgba(17,17,17,1)), color-stop(85%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(17,17,17,1) 77%,rgba(43,43,43,1) 85%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(17,17,17,1) 77%,rgba(43,43,43,1) 85%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(17,17,17,1) 77%,rgba(43,43,43,1) 85%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(17,17,17,1) 77%,rgba(43,43,43,1) 85%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}
.master-controls button {
    border: 2px solid #ddd;
    outline: none;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    font-size: 20px;
    background: rgb(149,149,149); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.record-master {
    color: red;
}
.record-master.active {
    color: #eee;
    background: rgb(43,43,43); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(43,43,43,1) 0%, rgba(163,13,13,1) 44%, rgba(159,1,1,1) 50%, rgba(172,10,10,1) 67%, rgba(195,23,23,1) 75%, rgba(165,19,19,1) 79%, rgba(27,27,27,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(43,43,43,1)), color-stop(44%,rgba(163,13,13,1)), color-stop(50%,rgba(159,1,1,1)), color-stop(67%,rgba(172,10,10,1)), color-stop(75%,rgba(195,23,23,1)), color-stop(79%,rgba(165,19,19,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(163,13,13,1) 44%,rgba(159,1,1,1) 50%,rgba(172,10,10,1) 67%,rgba(195,23,23,1) 75%,rgba(165,19,19,1) 79%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(163,13,13,1) 44%,rgba(159,1,1,1) 50%,rgba(172,10,10,1) 67%,rgba(195,23,23,1) 75%,rgba(165,19,19,1) 79%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(163,13,13,1) 44%,rgba(159,1,1,1) 50%,rgba(172,10,10,1) 67%,rgba(195,23,23,1) 75%,rgba(165,19,19,1) 79%,rgba(27,27,27,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(163,13,13,1) 44%,rgba(159,1,1,1) 50%,rgba(172,10,10,1) 67%,rgba(195,23,23,1) 75%,rgba(165,19,19,1) 79%,rgba(27,27,27,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

.play-master {
    color: #ddd;
}
.play-master.active {
    background: rgb(43,43,43); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(43,43,43,1) 0%, rgba(13,155,51,1) 27%, rgba(0,132,33,1) 40%, rgba(0,109,10,1) 49%, rgba(4,142,0,1) 65%, rgba(3,183,48,1) 73%, rgba(27,27,27,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(43,43,43,1)), color-stop(27%,rgba(13,155,51,1)), color-stop(40%,rgba(0,132,33,1)), color-stop(49%,rgba(0,109,10,1)), color-stop(65%,rgba(4,142,0,1)), color-stop(73%,rgba(3,183,48,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(13,155,51,1) 27%,rgba(0,132,33,1) 40%,rgba(0,109,10,1) 49%,rgba(4,142,0,1) 65%,rgba(3,183,48,1) 73%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(13,155,51,1) 27%,rgba(0,132,33,1) 40%,rgba(0,109,10,1) 49%,rgba(4,142,0,1) 65%,rgba(3,183,48,1) 73%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(13,155,51,1) 27%,rgba(0,132,33,1) 40%,rgba(0,109,10,1) 49%,rgba(4,142,0,1) 65%,rgba(3,183,48,1) 73%,rgba(27,27,27,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(13,155,51,1) 27%,rgba(0,132,33,1) 40%,rgba(0,109,10,1) 49%,rgba(4,142,0,1) 65%,rgba(3,183,48,1) 73%,rgba(27,27,27,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

.stop-master {
    color: #fff;
}
.stop-master:active {
    background: rgb(43,43,43); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(43,43,43,1) 0%, rgba(163,13,13,1) 44%, rgba(159,1,1,1) 50%, rgba(172,10,10,1) 67%, rgba(195,23,23,1) 75%, rgba(165,19,19,1) 79%, rgba(27,27,27,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(43,43,43,1)), color-stop(44%,rgba(163,13,13,1)), color-stop(50%,rgba(159,1,1,1)), color-stop(67%,rgba(172,10,10,1)), color-stop(75%,rgba(195,23,23,1)), color-stop(79%,rgba(165,19,19,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(163,13,13,1) 44%,rgba(159,1,1,1) 50%,rgba(172,10,10,1) 67%,rgba(195,23,23,1) 75%,rgba(165,19,19,1) 79%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(163,13,13,1) 44%,rgba(159,1,1,1) 50%,rgba(172,10,10,1) 67%,rgba(195,23,23,1) 75%,rgba(165,19,19,1) 79%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(163,13,13,1) 44%,rgba(159,1,1,1) 50%,rgba(172,10,10,1) 67%,rgba(195,23,23,1) 75%,rgba(165,19,19,1) 79%,rgba(27,27,27,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(43,43,43,1) 0%,rgba(163,13,13,1) 44%,rgba(159,1,1,1) 50%,rgba(172,10,10,1) 67%,rgba(195,23,23,1) 75%,rgba(165,19,19,1) 79%,rgba(27,27,27,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.upper-controls button {
    width: 92%;
    display: block;
    background: #4e4e4e ;
    color: #eee;
    margin: 3px;
    border: none;
    outline: none;
}
.upper-controls .muteactive {
    background: darkred;
}

.upper-controls .soloactive {
    background: goldenrod;
}

.lvl-display {
    background: #000;
    width: 89%;
    height: 30px;
    margin: 3px;
    border: none;
    outline: none;
    color: rgba(73,177,202,1.0);
    font-size: 16px;
    text-align: center;
}